{
    "openapi": "3.0.0",
    "info": {
        "title": "anatomous_mvp",
        "description": "",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://xu6p-ejbd-2ew4.n7e.xano.io/api:5PA_dIPO"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        },
        "schemas": {}
    },
    "paths": {
        "/allergies/{user_id}": {
            "delete": {
                "operationId": "anatomous_mvp/allergies/{user_id}|DELETE",
                "summary": "Delete allergies record",
                "description": "Delete allergies record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "allergies"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            },
            "get": {
                "operationId": "anatomous_mvp/allergies/{user_id}|GET",
                "summary": "Get allergies record for user",
                "description": "Get allergies record for user\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "allergies"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "format": "int64",
                                                        "description": ""
                                                    },
                                                    "created_at": {
                                                        "type": "number",
                                                        "format": "timestamptz",
                                                        "description": "",
                                                        "default": "now"
                                                    },
                                                    "user_id": {
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "description": "Reference to the associated user"
                                                    },
                                                    "allergy_name": {
                                                        "type": "string",
                                                        "description": "Name of the allergy (e.g., Pollen)"
                                                    },
                                                    "severity": {
                                                        "type": "string",
                                                        "description": "Severity of the allergy (e.g., Mild, Severe)"
                                                    },
                                                    "notes": {
                                                        "type": "string",
                                                        "description": "Additional notes about the allergy (nullable)"
                                                    },
                                                    "last_updated": {
                                                        "type": "number",
                                                        "format": "timestamptz",
                                                        "description": "Timestamp of the last update to the record"
                                                    }
                                                }
                                            }
                                        },
                                        "succes": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            },
            "patch": {
                "operationId": "anatomous_mvp/allergies/{user_id}|PATCH",
                "summary": "Update allergies record",
                "description": "Update allergies record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "allergies"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "Reference to the associated user",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "string"
                                        },
                                        "succes": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "allergies_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": ""
                                    },
                                    "allergy_name": {
                                        "type": "string",
                                        "description": "Name of the allergy (e.g., Pollen)"
                                    },
                                    "severity": {
                                        "type": "string",
                                        "description": "Severity of the allergy (e.g., Mild, Severe)"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "description": "Additional notes about the allergy (nullable)"
                                    },
                                    "last_updated": {
                                        "type": "number",
                                        "format": "timestamptz",
                                        "description": "Timestamp of the last update to the record"
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "allergies_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": ""
                                    },
                                    "allergy_name": {
                                        "type": "string",
                                        "description": "Name of the allergy (e.g., Pollen)"
                                    },
                                    "severity": {
                                        "type": "string",
                                        "description": "Severity of the allergy (e.g., Mild, Severe)"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "description": "Additional notes about the allergy (nullable)"
                                    },
                                    "last_updated": {
                                        "type": "number",
                                        "format": "timestamptz",
                                        "description": "Timestamp of the last update to the record"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/allergies": {
            "post": {
                "operationId": "anatomous_mvp/allergies|POST",
                "summary": "Add allergies record",
                "description": "Add allergies record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "allergies"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": ""
                                        },
                                        "created_at": {
                                            "type": "number",
                                            "format": "timestamptz",
                                            "description": "",
                                            "default": "now"
                                        },
                                        "user_id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Reference to the associated user"
                                        },
                                        "allergy_name": {
                                            "type": "string",
                                            "description": "Name of the allergy (e.g., Pollen)"
                                        },
                                        "severity": {
                                            "type": "string",
                                            "description": "Severity of the allergy (e.g., Mild, Severe)"
                                        },
                                        "notes": {
                                            "type": "string",
                                            "description": "Additional notes about the allergy (nullable)"
                                        },
                                        "last_updated": {
                                            "type": "number",
                                            "format": "timestamptz",
                                            "description": "Timestamp of the last update to the record"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "Reference to the associated user"
                                    },
                                    "allergy_name": {
                                        "type": "string",
                                        "description": "Name of the allergy (e.g., Pollen)"
                                    },
                                    "severity": {
                                        "type": "string",
                                        "description": "Severity of the allergy (e.g., Mild, Severe)"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "description": "Additional notes about the allergy (nullable)"
                                    },
                                    "last_updated": {
                                        "type": "number",
                                        "format": "timestamptz",
                                        "description": "Timestamp of the last update to the record"
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "Reference to the associated user"
                                    },
                                    "allergy_name": {
                                        "type": "string",
                                        "description": "Name of the allergy (e.g., Pollen)"
                                    },
                                    "severity": {
                                        "type": "string",
                                        "description": "Severity of the allergy (e.g., Mild, Severe)"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "description": "Additional notes about the allergy (nullable)"
                                    },
                                    "last_updated": {
                                        "type": "number",
                                        "format": "timestamptz",
                                        "description": "Timestamp of the last update to the record"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/check-threshold": {
            "post": {
                "operationId": "anatomous_mvp/check-threshold|POST",
                "summary": "check the indicator, set an alert (if necessary), and tell the front what to do next.",
                "description": "check the indicator, set an alert (if necessary), and tell the front what to do next.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "check-threshold"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "user_id",
                                        "nullable": true
                                    },
                                    "metrics": {
                                        "type": "object",
                                        "description": "metrics ",
                                        "nullable": true
                                    }
                                },
                                "required": [
                                    "user_id"
                                ]
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "user_id",
                                        "nullable": true
                                    },
                                    "metrics": {
                                        "type": "object",
                                        "description": "metrics ",
                                        "nullable": true
                                    }
                                },
                                "required": [
                                    "user_id"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/check_query": {
            "post": {
                "operationId": "anatomous_mvp/check_query|POST",
                "summary": "Check input user",
                "description": "Check input user\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "check_query"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "query": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "",
                                        "nullable": true
                                    }
                                },
                                "required": [
                                    "query"
                                ]
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "query": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "",
                                        "nullable": true
                                    }
                                },
                                "required": [
                                    "query"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/comprehensive-alerts": {
            "post": {
                "operationId": "anatomous_mvp/comprehensive-alerts|POST",
                "summary": "Endpoint for updating complex alerts",
                "description": "Endpoint for updating complex alerts\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "comprehensive-alerts"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "",
                                        "nullable": true
                                    },
                                    "metrics": {
                                        "type": "object",
                                        "description": "",
                                        "nullable": true
                                    }
                                },
                                "required": [
                                    "user_id",
                                    "metrics"
                                ]
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "",
                                        "nullable": true
                                    },
                                    "metrics": {
                                        "type": "object",
                                        "description": "",
                                        "nullable": true
                                    }
                                },
                                "required": [
                                    "user_id",
                                    "metrics"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/family_history/{user_id}": {
            "delete": {
                "operationId": "anatomous_mvp/family_history/{user_id}|DELETE",
                "summary": "Delete family_history record",
                "description": "Delete family_history record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "family_history"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "succes": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            },
            "get": {
                "operationId": "anatomous_mvp/family_history/{user_id}|GET",
                "summary": "Get family_history record",
                "description": "Get family_history record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "family_history"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "format": "int64",
                                                        "description": ""
                                                    },
                                                    "created_at": {
                                                        "type": "number",
                                                        "format": "timestamptz",
                                                        "description": "",
                                                        "default": "now"
                                                    },
                                                    "user_id": {
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "description": "Reference to the associated user"
                                                    },
                                                    "family_member": {
                                                        "type": "string",
                                                        "description": "Type of family member (e.g., mother, father, sibling)"
                                                    },
                                                    "condition_name": {
                                                        "type": "string",
                                                        "description": "Name of the condition in the family member"
                                                    },
                                                    "age_at_diagnosis": {
                                                        "type": "integer",
                                                        "format": "int64",
                                                        "description": "Age of the family member at diagnosis (nullable)"
                                                    },
                                                    "relationship_notes": {
                                                        "type": "string",
                                                        "description": "Additional notes about the family relationship (nullable)"
                                                    },
                                                    "notes": {
                                                        "type": "string",
                                                        "description": "Additional notes about the condition (nullable)"
                                                    },
                                                    "is_genetic": {
                                                        "type": "boolean",
                                                        "description": "Indicates if the condition is genetic",
                                                        "default": "false"
                                                    },
                                                    "last_updated": {
                                                        "type": "number",
                                                        "format": "timestamptz",
                                                        "description": "Timestamp of the last update to the record"
                                                    }
                                                }
                                            }
                                        },
                                        "succes": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            },
            "patch": {
                "operationId": "anatomous_mvp/family_history/{user_id}|PATCH",
                "summary": "Update family_history record",
                "description": "Update family_history record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "family_history"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "Reference to the associated user",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "string"
                                        },
                                        "succes": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "family_history_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": ""
                                    },
                                    "family_member": {
                                        "type": "string",
                                        "description": "Type of family member (e.g., mother, father, sibling)"
                                    },
                                    "condition_name": {
                                        "type": "string",
                                        "description": "Name of the condition in the family member"
                                    },
                                    "age_at_diagnosis": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "Age of the family member at diagnosis (nullable)"
                                    },
                                    "relationship_notes": {
                                        "type": "string",
                                        "description": "Additional notes about the family relationship (nullable)"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "description": "Additional notes about the condition (nullable)"
                                    },
                                    "is_genetic": {
                                        "type": "boolean",
                                        "description": "Indicates if the condition is genetic",
                                        "default": "false"
                                    },
                                    "last_updated": {
                                        "type": "number",
                                        "format": "timestamptz",
                                        "description": "Timestamp of the last update to the record"
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "family_history_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": ""
                                    },
                                    "family_member": {
                                        "type": "string",
                                        "description": "Type of family member (e.g., mother, father, sibling)"
                                    },
                                    "condition_name": {
                                        "type": "string",
                                        "description": "Name of the condition in the family member"
                                    },
                                    "age_at_diagnosis": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "Age of the family member at diagnosis (nullable)"
                                    },
                                    "relationship_notes": {
                                        "type": "string",
                                        "description": "Additional notes about the family relationship (nullable)"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "description": "Additional notes about the condition (nullable)"
                                    },
                                    "is_genetic": {
                                        "type": "boolean",
                                        "description": "Indicates if the condition is genetic",
                                        "default": "false"
                                    },
                                    "last_updated": {
                                        "type": "number",
                                        "format": "timestamptz",
                                        "description": "Timestamp of the last update to the record"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/family_history": {
            "post": {
                "operationId": "anatomous_mvp/family_history|POST",
                "summary": "Add family_history record",
                "description": "Add family_history record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "family_history"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "format": "int64",
                                                    "description": ""
                                                },
                                                "created_at": {
                                                    "type": "number",
                                                    "format": "timestamptz",
                                                    "description": "",
                                                    "default": "now"
                                                },
                                                "user_id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "description": "Reference to the associated user"
                                                },
                                                "family_member": {
                                                    "type": "string",
                                                    "description": "Type of family member (e.g., mother, father, sibling)"
                                                },
                                                "condition_name": {
                                                    "type": "string",
                                                    "description": "Name of the condition in the family member"
                                                },
                                                "age_at_diagnosis": {
                                                    "type": "integer",
                                                    "format": "int64",
                                                    "description": "Age of the family member at diagnosis (nullable)"
                                                },
                                                "relationship_notes": {
                                                    "type": "string",
                                                    "description": "Additional notes about the family relationship (nullable)"
                                                },
                                                "notes": {
                                                    "type": "string",
                                                    "description": "Additional notes about the condition (nullable)"
                                                },
                                                "is_genetic": {
                                                    "type": "boolean",
                                                    "description": "Indicates if the condition is genetic",
                                                    "default": "false"
                                                },
                                                "last_updated": {
                                                    "type": "number",
                                                    "format": "timestamptz",
                                                    "description": "Timestamp of the last update to the record"
                                                }
                                            }
                                        },
                                        "succes": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "Reference to the associated user"
                                    },
                                    "family_member": {
                                        "type": "string",
                                        "description": "Type of family member (e.g., mother, father, sibling)"
                                    },
                                    "condition_name": {
                                        "type": "string",
                                        "description": "Name of the condition in the family member"
                                    },
                                    "age_at_diagnosis": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "Age of the family member at diagnosis (nullable)"
                                    },
                                    "relationship_notes": {
                                        "type": "string",
                                        "description": "Additional notes about the family relationship (nullable)"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "description": "Additional notes about the condition (nullable)"
                                    },
                                    "is_genetic": {
                                        "type": "boolean",
                                        "description": "Indicates if the condition is genetic",
                                        "default": "false"
                                    },
                                    "last_updated": {
                                        "type": "number",
                                        "format": "timestamptz",
                                        "description": "Timestamp of the last update to the record"
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "Reference to the associated user"
                                    },
                                    "family_member": {
                                        "type": "string",
                                        "description": "Type of family member (e.g., mother, father, sibling)"
                                    },
                                    "condition_name": {
                                        "type": "string",
                                        "description": "Name of the condition in the family member"
                                    },
                                    "age_at_diagnosis": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "Age of the family member at diagnosis (nullable)"
                                    },
                                    "relationship_notes": {
                                        "type": "string",
                                        "description": "Additional notes about the family relationship (nullable)"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "description": "Additional notes about the condition (nullable)"
                                    },
                                    "is_genetic": {
                                        "type": "boolean",
                                        "description": "Indicates if the condition is genetic",
                                        "default": "false"
                                    },
                                    "last_updated": {
                                        "type": "number",
                                        "format": "timestamptz",
                                        "description": "Timestamp of the last update to the record"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/generate-insight": {
            "post": {
                "operationId": "anatomous_mvp/generate-insight|POST",
                "summary": "Accept user request. Here, only the request is sent and the response is validated.",
                "description": "Accept user request. Here, only the request is sent and the response is validated.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "generate-insight"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "string"
                                        },
                                        "success": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "query": {
                                        "type": "string",
                                        "description": "text request"
                                    },
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "user id",
                                        "nullable": true
                                    },
                                    "metrics": {
                                        "type": "object",
                                        "description": "metrics",
                                        "nullable": true
                                    }
                                },
                                "required": [
                                    "query",
                                    "user_id",
                                    "metrics"
                                ]
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "query": {
                                        "type": "string",
                                        "description": "text request"
                                    },
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "user id",
                                        "nullable": true
                                    },
                                    "metrics": {
                                        "type": "object",
                                        "description": "metrics",
                                        "nullable": true
                                    }
                                },
                                "required": [
                                    "query",
                                    "user_id",
                                    "metrics"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/get-comprehensive-alerts": {
            "get": {
                "operationId": "anatomous_mvp/get-comprehensive-alerts|GET",
                "summary": "Get comprehensive alerts for user",
                "description": "Get comprehensive alerts for user\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "get-comprehensive-alerts"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "description": ""
                                                    },
                                                    "created_at": {
                                                        "type": "number",
                                                        "format": "timestamptz",
                                                        "description": "",
                                                        "default": "now"
                                                    },
                                                    "user_id": {
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "description": "Reference to the user associated with the AI alert"
                                                    },
                                                    "metric_name": {
                                                        "type": "string",
                                                        "description": "Specific name of the metric (e.g., Blood Pressure Systolic, Heart Rate)"
                                                    },
                                                    "metric_type": {
                                                        "type": "string",
                                                        "description": "Type of metric that triggered the AI alert"
                                                    },
                                                    "alert_type": {
                                                        "type": "string",
                                                        "description": "Type of alert (e.g., threshold, pattern)"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "description": "Text message of the AI alert"
                                                    },
                                                    "severity": {
                                                        "type": "string",
                                                        "description": "Severity level of the AI alert"
                                                    },
                                                    "triggered_at": {
                                                        "type": "number",
                                                        "format": "timestamptz",
                                                        "description": "Date and time when the AI alert was triggered"
                                                    },
                                                    "resolved": {
                                                        "type": "boolean",
                                                        "description": "Indicates if the user has viewed/resolved the AI alert",
                                                        "default": "false"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "description": "Type of metric change or alert"
                                                    },
                                                    "stale_days": {
                                                        "type": "integer",
                                                        "format": "int64",
                                                        "description": "Number of days since the last metric update"
                                                    },
                                                    "last_value": {
                                                        "type": "string",
                                                        "description": "Last known value of the metric (can be text or decimal)"
                                                    },
                                                    "last_metric_date": {
                                                        "type": "number",
                                                        "format": "timestamptz",
                                                        "description": "Timestamp of the last metric update"
                                                    },
                                                    "alert_category": {
                                                        "type": "string",
                                                        "description": "Category of the alert (e.g., SOFT_REMINDER, COMPREHENSIVE, THRESHOLD)"
                                                    },
                                                    "stale_flag": {
                                                        "type": "boolean",
                                                        "description": "Flag indicating if the data is stale",
                                                        "default": "false"
                                                    }
                                                }
                                            }
                                        },
                                        "success": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            }
        },
        "/goal/progress{user_id}": {
            "delete": {
                "operationId": "anatomous_mvp/goal/progress{user_id}|DELETE",
                "summary": "",
                "description": "\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "goal"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "goal_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "",
                                        "nullable": true
                                    }
                                },
                                "required": [
                                    "goal_id"
                                ]
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "goal_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "",
                                        "nullable": true
                                    }
                                },
                                "required": [
                                    "goal_id"
                                ]
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "anatomous_mvp/goal/progress{user_id}|GET",
                "summary": "Get progress for the period",
                "description": "Get progress for the period\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "goal"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "goal_id",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "range",
                        "in": "query",
                        "description": "period",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mode",
                        "in": "query",
                        "description": "{\"average\" | \"total\"} mode - calculation mode",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            }
        },
        "/goal/progress": {
            "post": {
                "operationId": "anatomous_mvp/goal/progress|POST",
                "summary": "add a progress note",
                "description": "add a progress note\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "goal"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "description": ""
                                                },
                                                "created_at": {
                                                    "type": "number",
                                                    "format": "timestamptz",
                                                    "description": "",
                                                    "default": "now"
                                                },
                                                "goal_id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "description": "Reference to the associated goal"
                                                },
                                                "date": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "description": "Date of the progress update"
                                                },
                                                "value": {
                                                    "type": "number",
                                                    "description": "Numerical value of the progress"
                                                },
                                                "user_id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "description": "Reference to the user associated with the goal progress"
                                                },
                                                "unit": {
                                                    "type": "string",
                                                    "description": "Unit of measurement for the progress value (e.g., km, hours, liters)"
                                                }
                                            }
                                        },
                                        "success": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "",
                                        "nullable": true
                                    },
                                    "goal_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "",
                                        "nullable": true
                                    },
                                    "value": {
                                        "type": "string",
                                        "description": "Progress values ​​(e.g. 5km run, 8 hours of sleep, etc.)"
                                    },
                                    "unit": {
                                        "type": "string",
                                        "description": "for example, “km”, “hours”, “liters”);"
                                    }
                                },
                                "required": [
                                    "user_id",
                                    "goal_id",
                                    "value"
                                ]
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "",
                                        "nullable": true
                                    },
                                    "goal_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "",
                                        "nullable": true
                                    },
                                    "value": {
                                        "type": "string",
                                        "description": "Progress values ​​(e.g. 5km run, 8 hours of sleep, etc.)"
                                    },
                                    "unit": {
                                        "type": "string",
                                        "description": "for example, “km”, “hours”, “liters”);"
                                    }
                                },
                                "required": [
                                    "user_id",
                                    "goal_id",
                                    "value"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/goals/get/history": {
            "get": {
                "operationId": "anatomous_mvp/goals/get/history|GET",
                "summary": "filter goals",
                "description": "filter goals\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "goals"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "how to filter status = 'Completed' OR 'Archived'",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "description": ""
                                                    },
                                                    "created_at": {
                                                        "type": "number",
                                                        "format": "timestamptz",
                                                        "description": "",
                                                        "default": "now"
                                                    },
                                                    "user_id": {
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "description": "Reference to the associated user"
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "description": "Title of the goal"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "description": "Detailed description of the goal"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "description": "Current status of the goal",
                                                        "enum": [
                                                            "paused",
                                                            "completed",
                                                            "archived",
                                                            "on track"
                                                        ]
                                                    },
                                                    "target_date": {
                                                        "type": "string",
                                                        "format": "date",
                                                        "description": "Target completion date for the goal (nullable)"
                                                    },
                                                    "visibility_scope": {
                                                        "type": "string",
                                                        "description": "Visibility scope of the goal",
                                                        "enum": [
                                                            "private",
                                                            "public"
                                                        ]
                                                    },
                                                    "updated_at": {
                                                        "type": "number",
                                                        "format": "timestamptz",
                                                        "description": "Timestamp of the last update to the goal record"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "description": "Type of the goal (e.g., fitness, nutrition, wellness)"
                                                    }
                                                }
                                            }
                                        },
                                        "success": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            }
        },
        "/goals/readd": {
            "post": {
                "operationId": "anatomous_mvp/goals/readd|POST",
                "summary": "creates a new target, copying the old one (title, type, description, but new id and created_at)",
                "description": "creates a new target, copying the old one (title, type, description, but new id and created_at)\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "goals"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "description": ""
                                                },
                                                "created_at": {
                                                    "type": "number",
                                                    "format": "timestamptz",
                                                    "description": "",
                                                    "default": "now"
                                                },
                                                "user_id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "description": "Reference to the associated user"
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "description": "Title of the goal"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "description": "Detailed description of the goal"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "description": "Current status of the goal",
                                                    "enum": [
                                                        "paused",
                                                        "completed",
                                                        "archived",
                                                        "on track"
                                                    ]
                                                },
                                                "target_date": {
                                                    "type": "string",
                                                    "format": "date",
[...]
