{
    "openapi": "3.0.0",
    "info": {
        "title": "anatomous_mvp",
        "description": "",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://xu6p-ejbd-2ew4.n7e.xano.io/api:5PA_dIPO"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        },
        "schemas": {}
    },
    "paths": {
        "/action_plans/{action_plans_id}": {
            "delete": {
                "summary": "Delete action_plans record.",
                "description": "Delete action_plans record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "action_plans"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "action_plans_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            },
            "get": {
                "summary": "Get action_plans record",
                "description": "Get action_plans record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "action_plans"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "action_plans_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": ""
                                        },
                                        "created_at": {
                                            "type": "number",
                                            "format": "timestamptz",
                                            "description": "",
                                            "default": "now"
                                        },
                                        "user_id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Reference to the associated user"
                                        },
                                        "date": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Date of the action plan"
                                        },
                                        "actions": {
                                            "type": "object",
                                            "description": "JSON array of tasks for the action plan",
                                            "nullable": true
                                        },
                                        "completed": {
                                            "type": "boolean",
                                            "description": "Indicates if the action plan is completed",
                                            "default": "false"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            },
            "patch": {
                "summary": "Edit action_plans record",
                "description": "Edit action_plans record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "action_plans"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "action_plans_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": ""
                                        },
                                        "created_at": {
                                            "type": "number",
                                            "format": "timestamptz",
                                            "description": "",
                                            "default": "now"
                                        },
                                        "user_id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Reference to the associated user"
                                        },
                                        "date": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Date of the action plan"
                                        },
                                        "actions": {
                                            "type": "object",
                                            "description": "JSON array of tasks for the action plan",
                                            "nullable": true
                                        },
                                        "completed": {
                                            "type": "boolean",
                                            "description": "Indicates if the action plan is completed",
                                            "default": "false"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "Reference to the associated user"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "date",
                                        "description": "Date of the action plan"
                                    },
                                    "actions": {
                                        "type": "object",
                                        "description": "JSON array of tasks for the action plan",
                                        "nullable": true
                                    },
                                    "completed": {
                                        "type": "boolean",
                                        "description": "Indicates if the action plan is completed",
                                        "default": "false"
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "Reference to the associated user"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "date",
                                        "description": "Date of the action plan"
                                    },
                                    "actions": {
                                        "type": "object",
                                        "description": "JSON array of tasks for the action plan",
                                        "nullable": true
                                    },
                                    "completed": {
                                        "type": "boolean",
                                        "description": "Indicates if the action plan is completed",
                                        "default": "false"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/action_plans": {
            "get": {
                "summary": "Query all action_plans records",
                "description": "Query all action_plans records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "action_plans"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "format": "uuid",
                                                "description": ""
                                            },
                                            "created_at": {
                                                "type": "number",
                                                "format": "timestamptz",
                                                "description": "",
                                                "default": "now"
                                            },
                                            "user_id": {
                                                "type": "string",
                                                "format": "uuid",
                                                "description": "Reference to the associated user"
                                            },
                                            "date": {
                                                "type": "string",
                                                "format": "date",
                                                "description": "Date of the action plan"
                                            },
                                            "actions": {
                                                "type": "object",
                                                "description": "JSON array of tasks for the action plan",
                                                "nullable": true
                                            },
                                            "completed": {
                                                "type": "boolean",
                                                "description": "Indicates if the action plan is completed",
                                                "default": "false"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            },
            "post": {
                "summary": "Add action_plans record",
                "description": "Add action_plans record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "action_plans"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": ""
                                        },
                                        "created_at": {
                                            "type": "number",
                                            "format": "timestamptz",
                                            "description": "",
                                            "default": "now"
                                        },
                                        "user_id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Reference to the associated user"
                                        },
                                        "date": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Date of the action plan"
                                        },
                                        "actions": {
                                            "type": "object",
                                            "description": "JSON array of tasks for the action plan",
                                            "nullable": true
                                        },
                                        "completed": {
                                            "type": "boolean",
                                            "description": "Indicates if the action plan is completed",
                                            "default": "false"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "Reference to the associated user"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "date",
                                        "description": "Date of the action plan"
                                    },
                                    "actions": {
                                        "type": "object",
                                        "description": "JSON array of tasks for the action plan",
                                        "nullable": true
                                    },
                                    "completed": {
                                        "type": "boolean",
                                        "description": "Indicates if the action plan is completed",
                                        "default": "false"
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "Reference to the associated user"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "date",
                                        "description": "Date of the action plan"
                                    },
                                    "actions": {
                                        "type": "object",
                                        "description": "JSON array of tasks for the action plan",
                                        "nullable": true
                                    },
                                    "completed": {
                                        "type": "boolean",
                                        "description": "Indicates if the action plan is completed",
                                        "default": "false"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/activity_log/{activity_log_id}": {
            "delete": {
                "summary": "Delete activity_log record.",
                "description": "Delete activity_log record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "activity_log"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "activity_log_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            },
            "get": {
                "summary": "Get activity_log record",
                "description": "Get activity_log record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "activity_log"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "activity_log_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": ""
                                        },
                                        "created_at": {
                                            "type": "number",
                                            "format": "timestamptz",
                                            "description": "",
                                            "default": "now"
                                        },
                                        "user_id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Reference to the associated user"
                                        },
                                        "event_type": {
                                            "type": "string",
                                            "description": "Type of event logged"
                                        },
                                        "details": {
                                            "type": "object",
                                            "description": "JSON object storing details about the event",
                                            "nullable": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            },
            "patch": {
                "summary": "Edit activity_log record",
                "description": "Edit activity_log record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "activity_log"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "activity_log_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": ""
                                        },
                                        "created_at": {
                                            "type": "number",
                                            "format": "timestamptz",
                                            "description": "",
                                            "default": "now"
                                        },
                                        "user_id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Reference to the associated user"
                                        },
                                        "event_type": {
                                            "type": "string",
                                            "description": "Type of event logged"
                                        },
                                        "details": {
                                            "type": "object",
                                            "description": "JSON object storing details about the event",
                                            "nullable": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "Reference to the associated user"
                                    },
                                    "event_type": {
                                        "type": "string",
                                        "description": "Type of event logged"
                                    },
                                    "details": {
                                        "type": "object",
                                        "description": "JSON object storing details about the event",
                                        "nullable": true
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "Reference to the associated user"
                                    },
                                    "event_type": {
                                        "type": "string",
                                        "description": "Type of event logged"
                                    },
                                    "details": {
                                        "type": "object",
                                        "description": "JSON object storing details about the event",
                                        "nullable": true
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/activity_log": {
            "get": {
                "summary": "Query all activity_log records",
                "description": "Query all activity_log records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "activity_log"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "format": "uuid",
                                                "description": ""
                                            },
                                            "created_at": {
                                                "type": "number",
                                                "format": "timestamptz",
                                                "description": "",
                                                "default": "now"
                                            },
                                            "user_id": {
                                                "type": "string",
                                                "format": "uuid",
                                                "description": "Reference to the associated user"
                                            },
                                            "event_type": {
                                                "type": "string",
                                                "description": "Type of event logged"
                                            },
                                            "details": {
                                                "type": "object",
                                                "description": "JSON object storing details about the event",
                                                "nullable": true
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            },
            "post": {
                "summary": "Add activity_log record",
                "description": "Add activity_log record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "activity_log"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": ""
                                        },
                                        "created_at": {
                                            "type": "number",
                                            "format": "timestamptz",
                                            "description": "",
                                            "default": "now"
                                        },
                                        "user_id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Reference to the associated user"
                                        },
                                        "event_type": {
                                            "type": "string",
                                            "description": "Type of event logged"
                                        },
                                        "details": {
                                            "type": "object",
                                            "description": "JSON object storing details about the event",
                                            "nullable": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "Reference to the associated user"
                                    },
                                    "event_type": {
                                        "type": "string",
                                        "description": "Type of event logged"
                                    },
                                    "details": {
                                        "type": "object",
                                        "description": "JSON object storing details about the event",
                                        "nullable": true
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "Reference to the associated user"
                                    },
                                    "event_type": {
                                        "type": "string",
                                        "description": "Type of event logged"
                                    },
                                    "details": {
                                        "type": "object",
                                        "description": "JSON object storing details about the event",
                                        "nullable": true
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/company/{company_id}": {
            "delete": {
                "summary": "Delete company record.",
                "description": "Delete company record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "company"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            },
            "get": {
                "summary": "Get company record",
                "description": "Get company record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "company"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": ""
                                        },
                                        "created_at": {
                                            "type": "number",
                                            "format": "timestamptz",
                                            "description": "",
                                            "default": "now"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "Name of the company"
                                        },
                                        "industry": {
                                            "type": "string",
                                            "description": "Industry of the company (nullable)"
                                        },
                                        "logo": {
                                            "type": "object",
                                            "properties": {
                                                "access": {
                                                    "type": "string",
                                                    "description": "",
                                                    "enum": [
                                                        "public",
                                                        "private"
                                                    ],
                                                    "default": "public"
                                                },
                                                "path": {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "type": {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "size": {
                                                    "type": "integer",
                                                    "format": "int64",
                                                    "description": ""
                                                },
                                                "mime": {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "description": ""
                                                },
                                                "url": {
                                                    "type": "string",
                                                    "description": "",
                                                    "nullable": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            },
            "patch": {
                "summary": "Edit company record",
                "description": "Edit company record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "company"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": ""
                                        },
                                        "created_at": {
                                            "type": "number",
                                            "format": "timestamptz",
                                            "description": "",
                                            "default": "now"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "Name of the company"
                                        },
                                        "industry": {
                                            "type": "string",
                                            "description": "Industry of the company (nullable)"
                                        },
                                        "logo": {
                                            "type": "object",
                                            "properties": {
                                                "access": {
                                                    "type": "string",
                                                    "description": "",
                                                    "enum": [
                                                        "public",
                                                        "private"
                                                    ],
                                                    "default": "public"
                                                },
                                                "path": {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "type": {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "size": {
                                                    "type": "integer",
                                                    "format": "int64",
                                                    "description": ""
                                                },
                                                "mime": {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "description": ""
                                                },
                                                "url": {
                                                    "type": "string",
                                                    "description": "",
                                                    "nullable": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Name of the company"
                                    },
                                    "industry": {
                                        "type": "string",
                                        "description": "Industry of the company (nullable)"
                                    },
                                    "logo": {
                                        "type": "object",
                                        "properties": {
                                            "access": {
                                                "type": "string",
                                                "description": "",
                                                "enum": [
                                                    "public",
                                                    "private"
                                                ],
                                                "default": "public"
                                            },
                                            "path": {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "type": {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "size": {
                                                "type": "integer",
                                                "format": "int64",
                                                "description": ""
                                            },
                                            "mime": {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "meta": {
                                                "type": "object",
                                                "description": ""
                                            }
                                        },
                                        "required": [
                                            "path",
                                            "name",
                                            "type",
                                            "size",
                                            "mime",
                                            "meta"
                                        ]
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Name of the company"
                                    },
                                    "industry": {
                                        "type": "string",
                                        "description": "Industry of the company (nullable)"
                                    },
                                    "logo": {
                                        "type": "object",
                                        "properties": {
                                            "access": {
                                                "type": "string",
                                                "description": "",
                                                "enum": [
                                                    "public",
                                                    "private"
                                                ],
                                                "default": "public"
                                            },
                                            "path": {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "type": {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "size": {
                                                "type": "integer",
                                                "format": "int64",
                                                "description": ""
                                            },
                                            "mime": {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "meta": {
                                                "type": "object",
                                                "description": ""
                                            }
                                        },
                                        "required": [
                                            "path",
                                            "name",
                                            "type",
                                            "size",
                                            "mime",
                                            "meta"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/company": {
            "get": {
                "summary": "Query all company records",
                "description": "Query all company records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "company"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "format": "uuid",
                                                "description": ""
                                            },
                                            "created_at": {
                                                "type": "number",
                                                "format": "timestamptz",
                                                "description": "",
                                                "default": "now"
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "Name of the company"
                                            },
                                            "industry": {
                                                "type": "string",
                                                "description": "Industry of the company (nullable)"
                                            },
                                            "logo": {
                                                "type": "object",
                                                "properties": {
                                                    "access": {
                                                        "type": "string",
                                                        "description": "",
                                                        "enum": [
                                                            "public",
                                                            "private"
                                                        ],
                                                        "default": "public"
                                                    },
                                                    "path": {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "size": {
                                                        "type": "integer",
                                                        "format": "int64",
                                                        "description": ""
                                                    },
                                                    "mime": {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "meta": {
                                                        "type": "object",
                                                        "description": ""
                                                    },
                                                    "url": {
                                                        "type": "string",
                                                        "description": "",
                                                        "nullable": true
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            },
            "post": {
                "summary": "Add company record",
                "description": "Add company record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "company"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": ""
                                        },
                                        "created_at": {
                                            "type": "number",
                                            "format": "timestamptz",
                                            "description": "",
                                            "default": "now"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "Name of the company"
                                        },
                                        "industry": {
                                            "type": "string",
                                            "description": "Industry of the company (nullable)"
                                        },
                                        "logo": {
                                            "type": "object",
                                            "properties": {
                                                "access": {
                                                    "type": "string",
                                                    "description": "",
                                                    "enum": [
                                                        "public",
                                                        "private"
                                                    ],
                                                    "default": "public"
                                                },
                                                "path": {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "type": {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "size": {
                                                    "type": "integer",
                                                    "format": "int64",
                                                    "description": ""
                                                },
                                                "mime": {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "description": ""
                                                },
                                                "url": {
                                                    "type": "string",
                                                    "description": "",
                                                    "nullable": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Name of the company"
                                    },
                                    "industry": {
                                        "type": "string",
                                        "description": "Industry of the company (nullable)"
                                    },
                                    "logo": {
                                        "type": "object",
                                        "properties": {
                                            "access": {
                                                "type": "string",
                                                "description": "",
                                                "enum": [
                                                    "public",
                                                    "private"
                                                ],
                                                "default": "public"
                                            },
                                            "path": {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "type": {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "size": {
                                                "type": "integer",
                                                "format": "int64",
                                                "description": ""
                                            },
                                            "mime": {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "meta": {
                                                "type": "object",
                                                "description": ""
                                            }
                                        },
                                        "required": [
                                            "path",
                                            "name",
                                            "type",
                                            "size",
                                            "mime",
                                            "meta"
                                        ]
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Name of the company"
                                    },
                                    "industry": {
                                        "type": "string",
                                        "description": "Industry of the company (nullable)"
                                    },
                                    "logo": {
                                        "type": "object",
                                        "properties": {
                                            "access": {
                                                "type": "string",
                                                "description": "",
                                                "enum": [
                                                    "public",
                                                    "private"
                                                ],
                                                "default": "public"
                                            },
                                            "path": {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "type": {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "size": {
                                                "type": "integer",
                                                "format": "int64",
                                                "description": ""
                                            },
                                            "mime": {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "meta": {
                                                "type": "object",
                                                "description": ""
                                            }
                                        },
                                        "required": [
                                            "path",
                                            "name",
                                            "type",
                                            "size",
                                            "mime",
                                            "meta"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/family/{family_id}": {
            "delete": {
                "summary": "Delete family record.",
                "description": "Delete family record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "family"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "family_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            },
            "get": {
                "summary": "Get family record",
                "description": "Get family record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "family"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "family_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": ""
                                        },
                                        "created_at": {
                                            "type": "number",
                                            "format": "timestamptz",
                                            "description": "",
                                            "default": "now"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "Назва сім’ї"
                                        },
                                        "owner_user_id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Зовнішній ключ на users.id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            },
            "patch": {
                "summary": "Edit family record",
                "description": "Edit family record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "family"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "family_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": ""
                                        },
                                        "created_at": {
                                            "type": "number",
                                            "format": "timestamptz",
                                            "description": "",
                                            "default": "now"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "Назва сім’ї"
                                        },
                                        "owner_user_id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Зовнішній ключ на users.id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Назва сім’ї"
                                    },
                                    "owner_user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "Зовнішній ключ на users.id"
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Назва сім’ї"
                                    },
                                    "owner_user_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "Зовнішній ключ на users.id"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/family_members/{family_members_id}": {
            "delete": {
                "summary": "Delete family_members record.",
                "description": "Delete family_members record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "family_members"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "family_members_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            },
            "get": {
                "summary": "Get family_members record",
                "description": "Get family_members record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "family_members"
                ],
                "security": [],
                "parameters": [
                    {
                        "name": "family_members_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": ""
                                        },
                                        "created_at": {
                                            "type": "number",
                                            "format": "timestamptz",
                                            "description": "",
                                            "default": "now"
                                        },
                                        "family_id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Reference to the associated family group"
                                        },
                                        "user_id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Reference to the associated user"
                                        },
                                        "role": {
                                            "type": "string",
                                            "description": "Role of the member within the family",
                                            "enum": [
                                                "owner",
                                                "member",
                                                "child"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
[...]
